<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/> -->
    <link rel="stylesheet" href='/static/style.css'/>
    <title>Document</title>
</head>
<body>
    <h1>This is the homepage</h1>
    <div>
        <video autoplay="true" id="videoElement">
	
        </video>
    </div>
    <div id="addAllergiesPopup" class="prevent-select">
        <strong>+</strong>
    </div>
</body>
<script>
    var video = document.querySelector("#videoElement");
    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            video.srcObject = stream;
        })
        .catch(function (err0r) {
            console.log("Something went wrong!");
        });
    }
</script>
</html>