{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/> -->
    <link rel="stylesheet" href='/static/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>foodsense</title>
</head>

<body>
    <div class = "home-header">
        <img class = "home-logo" src="../static/img/logo.png">
        <button class="accountButtons">
            Login
        </button>
        <button class="accountButtons">
            Signup
        </button>
    </div>
    <div id="loginModal" class="modal">
        <div id="loginModalContent" class="modal-content">
            <form>
                <label for="name">Enter your name:</label>
                <input type="email" id="email" name="email">
                <label for="email">Enter your email:</label>
                <input type="email" id="email" name="email">
                <p></p>
            </form>
        </div>
    </div>
    <div style="width: 50%; height: 50%">
        <video autoplay="true" id="videoElement" style="width: 100%; max-height: 50%;"></video>
        <div id="cameraImageDiv" style="background-color: white; position: absolute; top: 0; left: 0; z-index: 1; width: 50%; height: 50%">
            <img id="cameraImage" src="../static/img/photo-camera.svg" style="width: 100%; height: 100%" onclick="turnOnVideo()">
        </div>
    </div>
    <div id="addAllergiesPopup">
        <div id="allergyList"></div>
    </div>
    <div id="addAllergiesButton" onclick="showAddAllergiesPopup()"></div>
    <canvas id="canvas"></canvas>
</body>

<script>
    var data = '{{data}}'

    var addAllergiesPopup = document.getElementById('addAllergiesPopup')
    var addAllergiesButton = document.getElementById('addAllergiesButton')
    var allergyListElement = document.getElementById('allergyList')
    var allergyList = []

    window.onload = function() {
        generateAllergyList()
    }

    function turnOnVideo() {
        var video = document.querySelector("#videoElement");
        video.innerHTML = ''
        if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                document.getElementById("cameraImageDiv").style.display = 'none';
                video.srcObject = stream;
                console.log('good')
                captureFrame()
            })
            .catch(function (err0r) {
                console.log("Something went wrong!");
            });
        }
    }
    function captureFrame() {
        var canvas = document.querySelector("#canvas");
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

        // Access the current frame as an ImageData object
        var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
        console.log('Image Data: ' + imageData)

        // Now you can process or display the imageData as needed
        // For example, you can access pixel data using imageData.data

        // Continue capturing frames in real-time
        // requestAnimationFrame(captureFrame);
    }

    function showAddAllergiesPopup() {
        if (addAllergiesPopup.showing) {
            hideElement(addAllergiesPopup)
            addAllergiesPopup.style.animationName = 'hideAddAllergiesPopup'
            addAllergiesPopup.style.animationDuration = '0.5s'
            addAllergiesButton.style.animationName = 'rotateAddAllergiesButtonHide'
            addAllergiesButton.style.animationDuration = '0.5s'
            delete addAllergiesPopup.showing
        }
        else {
            addAllergiesPopup.showing = true
            showElement(addAllergiesPopup, 'inline-block')
            addAllergiesPopup.style.animationName = 'showAddAllergiesPopup'
            addAllergiesPopup.style.animationDuration = '0.5s'
            addAllergiesButton.style.animationName = 'rotateAddAllergiesButtonShow'
            addAllergiesButton.style.animationDuration = '0.5s'
        }
    }

    function generateAllergyList() {
        console.log(allergyList)
        for (var i = 0; i < allergyList.length; i++) {
            var allergyDiv = document.createElement('div');
            var deleteAllergy = document.createElement('span');
            var allergyText = document.createElement('p');

            allergyDiv.style.marginLeft = '5%';
            allergyDiv.style.marginTop = '5%';
            allergyDiv.style.marginBottom = '0%';
            allergyDiv.chosenDisplay = 'block';
            deleteAllergy.innerHTML = '&times;';
            deleteAllergy.index = i;
            deleteAllergy.onclick = function(event) {
                allergyList.splice(event.target.index, 1);
                allergyListElement.innerHTML = ''
                generateAllergyList()
            }
            deleteAllergy.style.display = 'inline-block'
            allergyText.innerHTML = `${allergyList[i]}`;
            allergyText.style.display = 'inline-block'

            allergyDiv.appendChild(deleteAllergy);
            allergyDiv.appendChild(allergyText);
            allergyListElement.appendChild(allergyDiv)
        }
        var inputAllergyDiv = document.createElement('div');
        inputAllergyDiv.style.height = '50px'
        inputAllergyDiv.style.position = 'absolute'
        inputAllergyDiv.style.bottom = '0px'
        var inputAllergy = document.createElement('input');
        inputAllergy.type = 'text';
        inputAllergy.id = 'inputAllergy'
        inputAllergy.style.width = 'calc(60% - 30px)'
        inputAllergy.style.height = '50px'
        inputAllergy.style.borderRadius = '33% 0 0 33%'
        inputAllergy.placeholder = 'Allergy'
        var submitAllergy = document.createElement('button')
        submitAllergy.style.width = 'calc(40% - 20px)'
        submitAllergy.style.height = '50px'
        submitAllergy.style.borderRadius = '0 33% 33% 0'
        submitAllergy.innerHTML = 'Add'
        submitAllergy.onclick = function (event) {
            if (!document.getElementById('inputAllergy').value) {
                return;
            }
            allergyList.push(document.getElementById('inputAllergy').value);
            allergyListElement.innerHTML = ''
            generateAllergyList()
        }
        inputAllergyDiv.appendChild(inputAllergy)
        inputAllergyDiv.appendChild(submitAllergy)

        allergyListElement.appendChild(inputAllergyDiv)
    }

    function hideElement(element) {
        showElement(element, 'none')
    }
    function showElement(element, display) {
        var nextElement = element;
        do {
            for (var i = 0; i < nextElement.length; i++) {
                console.log(nextElement[i])
                if (nextElement[i].chosenDisplay) {
                    nextElement[i].style.display = nextElement[i].chosenDisplay
                    continue;
                }
                nextElement[i].style.display = display
            }
            nextElement = nextElement.children;
        } while (nextElement.children);
    }
</script>
</html>

{%- endblock %}